<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<parameter name="browser" value="chrome"></parameter>
	
	
  <test name="CheckboxTest" enabled="false">
    <classes>
      <class name="test.CheckboxTest"></class>
    </classes>
  </test> <!-- Test -->
  <test name="TextboxTest" enabled="false">
	  <classes>
		  <class name="test.TextboxTest"></class>    
	  </classes>
  </test>
  
  <test name="UploadDownloadTest" enabled="false">
	  <classes>
		  <class name="test.UploadDownloadTest"></class>
	  </classes>
  </test>
  
  <test name="DynamicProperties_Test" enabled="false">
	  <classes>
		  <class name="test.DynamicProperties_Test"></class>	    
	  </classes>
  </test>
  
  <test name="WebTableTest" enabled="false">
	  <classes>
		  <class name="test.WebTableTest"></class>
	  </classes>
  </test>
  
  <test name="ButtonTest" enabled="false">
	  <classes>
		  <class name="test.ButtonTest"></class>
	  </classes>
  </test>
  
  <test name="RadiobuttonTest" enabled="false">
	  <classes>
		  <class name="test.RadiobuttonTest"></class>
	  </classes>
  </test>
  
  <test name="BrokenImage_Test" enabled="false">
	  <classes>
		  <class name="test.BrokenImage_Test"></class>
	  </classes>
  </test>
  
  <test name="BrokenLinks_Test" enabled="false">
	  <classes>
		  <class name="test.BrokenLinks_Test"></class>
	  </classes>
  </test>
  
  <test name="Browser_Windows_Test" enabled="false">
	  <classes>
		  <class name="test.Browser_Windows_Test"></class>
	  </classes>
  </test>
  
  <test name="Alerts_Test" enabled="false">
	  <classes>
		  <class name="test.Alerts_Test"></class>
	  </classes>
  </test>
  
 <test name="Frames_Test" enabled="false">
	 <classes>
		 <class name="test.Frames_Test"></class>
	 </classes>
 </test>
 
 <test name="Nested_Frames_Test" enabled="false">
	 <classes>
		 <class name="test.Nested_Frames_Test"></class>
	 </classes>
 </test>
 
 <test name="Moadal_Dialogs_Test" enabled="false">
	 <classes>
		 <class name="test.Moadal_Dialogs_Test"></class>
	 </classes>
 </test>
 
 <test name="Accordian_Test" enabled="false">
	 <classes>
		 <class name="test.Accordian_Test"></class>
	 </classes>
 </test>
 
 <test name="AutocompleteTest" enabled="false">
	 <classes>
		 <class name="test.AutocompleteTest"></class>
	 </classes>
 </test>
 
 <test name="DatePickerTest" enabled="false">
	 <classes>
		 <class name="test.DatePickerTest"></class>
	 </classes>
 </test>
 
 <test name="SliderTest" enabled="false">
	 <classes>
		 <class name="test.SliderTest"></class>
	 </classes>
 </test>
 
 <test name="ProgressBarTest" enabled="false">
	 <classes>
		 <class name="test.ProgressBarTest"></class>
	 </classes>
 </test>
 
  
</suite> <!-- Suite -->

      
      
     