<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.CheckboxTest"/>
      <class name="test.TextboxTest"/>
      <class name="test.UploadDownloadTest"/>
      <class name="test.WebTableTest"/>
      <class name="test.ButtonTest"/>
      <class name="test.RadiobuttonTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
